In [33]:
import pandas as pd

In [56]:
csv = pd.read_csv('TK2023Kandidaten.csv')
csv.head()

,Unnamed: 0,Lijstnummer,Aanduiding,Positie,Initialen,Roepnaam,Tussenvoegsels,Achternaam,Geslacht,Woonplaats,...,Positie_Bonaire,Stemmen_Saba,Positie_Saba,Stemmen_Sint_Eustatius,Positie_Sint_Eustatius,Stemmen_Buitenland,Positie_Buitenland,Positie.1,Stemmen_Den Helder,Positie_Den Helder
0,277,1.0,Partij van de Arbeid (P.v.d.A.),5.0,I.L.,Iris,NaN,Vrolijks,v,Maassluis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,460,3.0,Partij van de Arbeid (P.v.d.A.),2.0,I.L.,Iris,NaN,Vrolijks,v,Maassluis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,1.0,VVD,1.0,R.M.,Rosemarijn,NaN,Dral,v,Oostzaan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,79,1.0,VVD,1.0,R.M.,Rosemarijn,NaN,Dral,v,Oostzaan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,160,1.0,VVD,1.0,R.M.,Rosemarijn,NaN,Dral,v,Oostzaan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
json = pd.read_json('kandidaten.json')
json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   iri           1128 non-null   object
 1   id            1128 non-null   object
 2   naam          1128 non-null   object
 3   voornaam      1128 non-null   object
 4   achternaam    1128 non-null   object
 5   voorletters   1128 non-null   object
 6   geslacht      627 non-null    object
 7   verkiezingen  1128 non-null   object
 8   urls          486 non-null    object
dtypes: object(9)
memory usage: 79.4+ KB

In [62]:
csv = csv.fillna('')
csv['id'] = csv['Roepnaam'].str.cat(csv['Initialen'], sep=' ').str.cat(csv['Tussenvoegsels'], sep=' ').str.cat(csv['Achternaam'], sep=' ')
csv['id'] = csv['id'].str.replace('  ', ' ')
csv['id']

0         Iris I.L. Vrolijks
1         Iris I.L. Vrolijks
2       Rosemarijn R.M. Dral
3       Rosemarijn R.M. Dral
4       Rosemarijn R.M. Dral
                ...
2682       Derk D.G. Boswijk
2683              C. Stoffer
2684        Chris C. Stoffer
2685        Chris C. Stoffer
2686        Chris C. Stoffer
Name: id, Length: 2687, dtype: object

In [63]:
# Merge the two dataframes on the 'id' column using an inner join to find matches
matched = pd.merge(csv, json, on='id', how='inner')
unique_csv = csv['id'].unique()
unique_json = json['id'].unique()

# Get the unique matching 'id's
unique_matches = matched['id'].unique()
len(unique_matches)

960

In [64]:
len(unique_csv)

1121

In [65]:
len(unique_json)

1128

In [74]:
merged_data = pd.merge(json, csv[['id', 'Qid']], on='id', how='left')

# Now, 'merged_data' DataFrame has a new column 'Qid' from 'csv' DataFrame.
# If you want to replace the 'json' DataFrame with this merged data:
json = merged_data

In [75]:
json[['id', 'Qid']]

                             id         Qid
0             Dilan D. YeÅŸilgÃ¶z   Q28861002
1         Sophie S.T.M. Hermans   Q28860996
2         Sophie S.T.M. Hermans   Q28860996
3         Sophie S.T.M. Hermans   Q28860996
4               Bente B. Becker   Q28860992
...                         ...         ...
2509          W.A.A.O. Muurmans         NaN
2510            L.C. Heuvelmans         NaN
2511  N.P.M. Seldenthuis-Jetten         NaN
2512     Werner W.A.G.O. Eussen  Q123176393
2513            John J. Huizing  Q123176394

[2514 rows x 2 columns]

In [76]:
json['Qid'] = 'http://www.wikidata.org/entity/' + json['Qid'].astype(str)

In [77]:
json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2514 entries, 0 to 2513
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   iri           2514 non-null   object
 1   id            2514 non-null   object
 2   naam          2514 non-null   object
 3   voornaam      2514 non-null   object
 4   achternaam    2514 non-null   object
 5   voorletters   2514 non-null   object
 6   geslacht      1515 non-null   object
 7   verkiezingen  2514 non-null   object
 8   urls          1188 non-null   object
 9   Qid           2514 non-null   object
dtypes: object(10)
memory usage: 196.5+ KB

In [79]:
json[['id','Qid']]

                             id                                        Qid
0             Dilan D. YeÅŸilgÃ¶z   http://www.wikidata.org/entity/Q28861002
1         Sophie S.T.M. Hermans   http://www.wikidata.org/entity/Q28860996
2         Sophie S.T.M. Hermans   http://www.wikidata.org/entity/Q28860996
3         Sophie S.T.M. Hermans   http://www.wikidata.org/entity/Q28860996
4               Bente B. Becker   http://www.wikidata.org/entity/Q28860992
...                         ...                                        ...
2509          W.A.A.O. Muurmans         http://www.wikidata.org/entity/nan
2510            L.C. Heuvelmans         http://www.wikidata.org/entity/nan
2511  N.P.M. Seldenthuis-Jetten         http://www.wikidata.org/entity/nan
2512     Werner W.A.G.O. Eussen  http://www.wikidata.org/entity/Q123176393
2513            John J. Huizing  http://www.wikidata.org/entity/Q123176394

[2514 rows x 2 columns]

In [80]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2687 entries, 0 to 2686
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   2687 non-null   int64
 1   Lijstnummer                  2687 non-null   object
 2   Aanduiding                   2687 non-null   object
 3   Positie                      2687 non-null   object
 4   Initialen                    2687 non-null   object
 5   Roepnaam                     2687 non-null   object
 6   Tussenvoegsels               2687 non-null   object
 7   Achternaam                   2687 non-null   object
 8   Geslacht                     2687 non-null   object
 9   Woonplaats                   2687 non-null   object
 10  Stemmen                      2687 non-null   object
 11  Verkiezing                   2687 non-null   object
 12  Party_WD_id                  2687 non-null   object
 13  Qid                          2687 non-null   object
 14  Positie_Groningen            2687 non-null   object
 15  Positie_Fryslan              2687 non-null   object
 16  Positie_Drenthe              2687 non-null   object
 17  Positie_Overijssel           2687 non-null   object
 18  Positie_Flevoland            2687 non-null   object
 19  Positie_Nijmegen             2687 non-null   object
 20  Positie_Arnhem               2687 non-null   object
 21  Positie_Utrecht              2687 non-null   object
 22  Positie_Amsterdam            2687 non-null   object
 23  Positie_Haarlem              2687 non-null   object
 24  Positie_Den_Helder           2687 non-null   object
 25  Positie_Den_Haag             2687 non-null   object
 26  Positie_Rotterdam            2687 non-null   object
 27  Positie_Dordrecht            2687 non-null   object
 28  Positie_Leiden               2687 non-null   object
 29  Positie_Zeeland              2687 non-null   object
 30  Positie_Tilburg              2687 non-null   object
 31  Positie_Den_Bosch            2687 non-null   object
 32  Positie_Limburg              2687 non-null   object
 33  Positie_Caribisch_Nederland  2687 non-null   object
 34  Stemmen_Groningen            2687 non-null   object
 35  Stemmen_Fryslan              2687 non-null   object
 36  Stemmen_Drenthe              2687 non-null   object
 37  Stemmen_Overijssel           2687 non-null   object
 38  Stemmen_Flevoland            2687 non-null   object
 39  Stemmen_Nijmegen             2687 non-null   object
 40  Stemmen_Arnhem               2687 non-null   object
 41  Stemmen_Utrecht              2687 non-null   object
 42  Stemmen_Amsterdam            2687 non-null   object
 43  Stemmen_Haarlem              2687 non-null   object
 44  Stemmen_Den_Helder           2687 non-null   object
 45  Stemmen_Den_Haag             2687 non-null   object
 46  Stemmen_Rotterdam            2687 non-null   object
 47  Stemmen_Dordrecht            2687 non-null   object
 48  Stemmen_Leiden               2687 non-null   object
 49  Stemmen_Zeeland              2687 non-null   object
 50  Stemmen_Tilburg              2687 non-null   object
 51  Stemmen_Den_Bosch            2687 non-null   object
 52  Stemmen_Limburg              2687 non-null   object
 53  Stemmen_Caribisch_Nederland  2687 non-null   object
 54  Stemmen_Maastricht           2687 non-null   object
 55  Positie_Maastricht           2687 non-null   object
 56  Stemmen_Venlo                2687 non-null   object
 57  Positie_Venlo                2687 non-null   object
 58  Stemmen_s-Gravenhage         2687 non-null   object
 59  Positie_s-Gravenhage         2687 non-null   object
 60  Stemmen_s-Hertogenbosch      2687 non-null   object
 61  Positie_s-Hertogenbosch      2687 non-null   object
 62  Stemmen_Gelderland           2687 non-null   object
 63  Positie_Gelderland           2687 non-null   object
 64  Stemmen_Noord_Holland        2687 non-null   object
 65  Positie_Noord_Holland        2687 non-null   object
 66  Stemmen_Zuid_Holland         2687 non-null   object
 67  Positie_Zuid_Holland         2687 non-null   object
 68  Stemmen_Noord_Brabant        2687 non-null   object
 69  Positie_Noord_Brabant        2687 non-null   object
 70  Stemmen_Bonaire              2687 non-null   object
 71  Positie_Bonaire              2687 non-null   object
 72  Stemmen_Saba                 2687 non-null   object
 73  Positie_Saba                 2687 non-null   object
 74  Stemmen_Sint_Eustatius       2687 non-null   object
 75  Positie_Sint_Eustatius       2687 non-null   object
 76  Stemmen_Buitenland           2687 non-null   object
 77  Positie_Buitenland           2687 non-null   object
 78  Positie.1                    2687 non-null   object
 79  Stemmen_Den Helder           2687 non-null   object
 80  Positie_Den Helder           2687 non-null   object
 81  id                           2687 non-null   object
dtypes: int64(1), object(81)
memory usage: 1.7+ MB

In [86]:
json['urls'][0]

{'partijwebsite': 'https://www.vvd.nl/profielen/dilan-yesilgoz-zegerius/',
 'wikidata': 'http://www.wikidata.org/entity/Q28861002'}

In [85]:
# Define a function to update the dictionary in each row of the 'urls' column
def update_urls(row):
    # Check if the value in the 'urls' column is a dictionary
    if isinstance(row['urls'], dict):
        # Copy the existing dictionary to avoid modifying it in-place
        urls_dict = dict(row['urls'])
    else:
        # If the value is not a dictionary, initialize an empty dictionary
        urls_dict = {}
    # Add the 'wikidata' field to the dictionary
    urls_dict['wikidata'] = str(row['Qid'])
    return urls_dict

# Use the apply() method along with the custom function to update the 'urls' column
json['urls'] = json.apply(update_urls, axis=1)

In [87]:
json.drop(columns=['Qid'], inplace=True)

In [88]:
json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2514 entries, 0 to 2513
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   iri           2514 non-null   object
 1   id            2514 non-null   object
 2   naam          2514 non-null   object
 3   voornaam      2514 non-null   object
 4   achternaam    2514 non-null   object
 5   voorletters   2514 non-null   object
 6   geslacht      1515 non-null   object
 7   verkiezingen  2514 non-null   object
 8   urls          2514 non-null   object
dtypes: object(9)
memory usage: 176.9+ KB

In [90]:
json.to_json('kandidaten.json', orient='records')